/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/*  apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* ------------- BODY ------------- */
body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 300; }

/*  ------------- HEADER -------------  */
header {
  background-color: #300b0a;
  color: #9a1919;
  padding: 1rem 2%;
  /*-----HEADER SOCIAL ICONS-----*/ }
  header h1 {
    font-size: 2rem;
    font-weight: 300; }
  header h2 {
    font-size: 1.12rem;
    font-weight: 300; }
  header figure.logo {
    float: left;
    width: 50%; }
  header figure.logo img {
    width: 100%; }
  header ul.social li {
    margin-top: .3rem;
    list-style-type: none;
    float: right;
    width: 14%; }
  header ul.social li a {
    display: block;
    margin: 0 auto;
    background-image: url(../images/socialSprites.png);
    height: 45px;
    width: 45px; }
  header ul.social .twitter a {
    background-position: -90px -45px; }
  header ul.social .youtube a {
    background-position: -225px -45px; }
  header ul.social .facebook a {
    background-position: -45px -45px; }
  header ul.social .googleplus a {
    background-position: -180px -45px; }
  header ul.social .twitter a:hover {
    background-position: -90px -0px; }
  header ul.social .youtube a:hover {
    background-position: -225px -0px; }
  header ul.social .facebook a:hover {
    background-position: -45px -0px; }
  header ul.social .googleplus a:hover {
    background-position: -180px -0px; }
  header form {
    z-index: 92; }
    header form input {
      margin-top: .4rem;
      width: 100%;
      border-radius: 15px;
      margin-right: .2rem;
      padding: .4rem .6rem;
      border: none;
      font-size: 1em;
      transition: width .5s;
      z-index: 92; }
    header form input:focus {
      width: 95%; }
  header input {
    width: 8em;
    transition: width .5s;
    z-index: 999; }
  header input:focus {
    width: 10rem;
    z-index: 999; }

/* NAVigation  */
nav {
  background-color: #300b0a;
  grid-area: myNavigation;
  width: 100%; }
  nav ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    width: 100%;
    padding: .6rem 3%;
    margin: 0 2%;
    border-bottom: solid 1px rgba(0, 0, 0, 0.3); }
  nav ul li ul li a {
    padding-left: 8%; }
  nav ul li.active > a {
    background-color: black; }
  nav ul li a:hover {
    background-color: #97999a;
    color: #300b0a; }
  nav ul.closed {
    max-height: 0; }
  nav ul.open {
    max-height: 31rem; }
  nav ul {
    overflow: hidden;
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    transition: max-height 0.5s; }
  nav button {
    font-size: 1.5rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    border: solid 1px rgba(0, 0, 0, 0.3);
    width: 3.5rem;
    margin: 3px 2%;
    border-radius: 5px; }

/*  ------------- MAIN -------------  */
main {
  width: 100%;
  min-height: 20rem; }
  main h1 {
    font-size: 2rem;
    margin: 1.5rem 0 .5rem 0;
    color: #300b0a; }
  main ul li {
    width: 50px;
    height: 50px;
    background-image: url(../images/SpritePractice.png);
    background-position: 0 0; }
  main ul li.blue {
    background-position: 0 -100px; }
  main ul li.bee {
    background-position: -50px -50px; }
  main ul li.one {
    background-position: -100px 0; }
  main ul li.one:hover {
    background-position: -100px -50px; }

/*  ------------- FOOTER -------------  */
footer {
  width: 100%;
  background-color: #300b0a; }
  footer p {
    text-align: center;
    color: #9a1919;
    padding: .75rem 0;
    font-size: 1rem;
    text-decoration: none; }
  footer p a {
    color: #976c6b;
    text-decoration: none; }
  footer p a:hover {
    color: #f5f5f5; }
  footer div.footwrap {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 2%;
    grid-row-gap: .1rem;
    text-align: center; }
  footer div.footwrap a {
    color: #976c6b;
    text-decoration: none;
    font-size: 1.4rem; }
  footer div.footwrap a:hover {
    color: #f5f5f5; }
  footer div.footwrap article {
    margin: .5rem 0;
    display: flex;
    flex-direction: column; }
  footer div.footwrap article:nth-child(1) {
    grid-column: 1 / span 1; }
  footer h3 {
    color: white;
    font-size: 1.2rem;
    margin-bottom: .2rem; }

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

@media only screen and (min-width: 35em) {
  /*-----HEADER SOCIAL ICONS-----*/
  header {
    position: relative; }
    header ul.social {
      position: absolute;
      top: 1rem;
      right: 2%; }
    header ul.social li {
      width: auto; }
    header figure.logo {
      width: 30%;
      position: absolute;
      bottom: 0; }
    header form {
      float: right;
      margin-top: 4rem; }
      header form input {
        width: 100%; }
      header form input:focus {
        width: 100%; }

  /* NAVigation  */
  nav {
    /* overides the float and line from the parent ul */
    /* this displays the menus as drop downs  */ }
    nav button {
      display: none; }
    nav ul.closed {
      max-height: 31rem; }
    nav ul {
      margin-left: 2%;
      border-left: 1px solid rgba(0, 0, 0, 0.2); }
    nav ul li {
      float: left; }
    nav ul li a {
      border: none;
      border-right: 1px solid rgba(0, 0, 0, 0.2);
      font-size: .9em;
      padding: .7em .9em; }
    nav ul li a:hover {
      background: #060101;
      color: #97999a; }
    nav ul li ul {
      /*rules for the sub menu items*/
      position: absolute;
      left: -999em;
      /* pushes the menu way off to the side */
      background-color: #5a1513;
      width: 10em;
      border: none; }
    nav ul li ul li {
      float: none; }
    nav ul li ul li a {
      border: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
    nav ul li a span {
      display: none; }
    nav ul li:hover ul {
      left: auto;
      margin-left: 0; }

  /*  ------------- MAIN -------------  */
  footer div.footwrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2%;
    grid-row-gap: .1rem;
    text-align: center;
    margin: 0 4rem;
    padding-top: 1rem; }
  footer div.footwrap a {
    font-size: 1.2rem; } }
@media only screen and (min-width: 64em) {
  header figure.logo {
    width: 20%; }

  /* NAVigation  */
  nav ul li a span {
    display: inline; }

  /*  ------------- MAIN -------------  */
  main {
    margin: auto;
    max-width: 75rem; }

  footer div.footwrap {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    display: flex;
    justify-content: space-around; }
  footer div.footwrap a {
    font-size: .9rem; }
  footer div.footwrap article {
    text-align: left; } }
