
header {
	figure.logo {
		width: 20%;
	}
}





/* NAVigation  */

nav {
	ul li a span {display: inline;}
}


/*  ------------- MAIN -------------  */
main {
	margin: auto;
    
    
    
    
    
    
    
    
} // end main