
header {
	figure.logo {
		width: 20%;
	}
}





/* NAVigation  */

nav {
	ul li a span {display: inline;}
}


/*  ------------- MAIN -------------  */
main {
	margin: auto;
	max-width: 75rem;
	
	div.firstbox {
		
	
		figcaption {
			
			font-size: 2rem;
		}
	
	}




	
	
	div.firstbox figure.image {
		width: 50%px;
		height: 330px;
	}
    
	
	div.topbox figure.image {
		width: 578px;
		height: 162px;
    }
    
    
	div.topbox {
		
	
		figcaption {
			
			font-size: 2rem;
		}
	
	}
	




	div.bottombox {
		grid-template-columns: 1fr 1fr 1fr 1fr; 
		
	

	}

	div.bottombox figure.image {
		height: 230px;
		width: 100%;
		margin-bottom: 3rem;

		figcaption {
			font-size: 1.2rem;
		}

	}

	

	


    
    
    
} // end main


footer {

div.footwrap {
	margin: auto;
    max-width: 75rem;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	display: flex;
	justify-content: space-around;
}

div.footwrap a {
font-size: 1.1rem;
}

div.footwrap article {
	text-align: left;
}


}


