
header {
	figure.logo {
		width: 20%;
	}
}





/* NAVigation  */

nav {
	ul li a span {display: inline;}
}


/*  ------------- MAIN -------------  */
main {
	margin: 0 8rem;
	max-width: 75rem;

	div.topcontent {
		display: flex;
		flex-direction: row;
		justify-content: center;
	
		
	}



	
	div.firstbox {
		
	
		figcaption {
			
			font-size: 2rem;
		}
	
	}




	
	
	div.firstbox figure.image {
		width: 100%;
		height: 100%;
	}

	

	div.topbox figure.image {
		width: 100%;
		height: 49%;
    
    
	div.topbox {
		
	
		figcaption {
			
			font-size: 2rem;
		}
	
	}
	
	}



	div.bottombox {
		grid-template-columns: 1fr 1fr 1fr 1fr; 
		
	

	}

	div.bottombox figure.image {
		height: 50%;
		width: 100%;

		figcaption {
			font-size: 1.2rem;
		}

		img {
			width: 100%;
		}

	}

	

	


    
    
    
} // end main


footer {

div.footwrap {
	margin: auto;
    max-width: 75rem;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	display: flex;
	justify-content: space-around;
}

div.footwrap a {
font-size: 1.1rem;
}

div.footwrap article {
	text-align: left;
}


}


