/*-----HEADER SOCIAL ICONS-----*/
header {
	position: relative;
    ul.social {
        position: absolute;
        top: 1rem;
        right: $gutter;
    }
    
    ul.social li {
        width: auto;
    }
    
    ul.social li a {
        
    }


figure.logo {
    width: 30%;
    position: absolute;
    bottom: 0;
}


form {
    float: right;
    margin-top: 4rem;
    input {
        width: 100%;
    }
    input:focus {
        width: 100%;
    }
}

} // end header





/* NAVigation  */

nav {
	//undo small screen
	button {display: none;}
	ul.closed {max-height: 31rem;}
    
	// new stuff
	ul {
	margin-left: 2%;
	border-left: 1px solid rgba(0,0,0,0.2);
	}
	ul li {
	float: left;
	}
	ul li a { 
	border:none; // undo small screen
	border-right: 1px solid rgba(0,0,0,0.2);
	font-size: .9em;
	padding: .7em .9em;
	
	}
	ul li a:hover {background: darken($primaryColor,10%);
	color: $fontColor;
	}
	
	
	ul li ul { /*rules for the sub menu items*/
        position: absolute;
        left: -999em; /* pushes the menu way off to the side */
        background-color: lighten($menuColor, 10%);
        width: 10em;
		border: none;
	}
    /* overides the float and line from the parent ul */
 	ul li ul li { float: none;}
	ul li ul li a {border: none; border-bottom: 1px solid rgba(0,0,0,0.2); }
	ul li a span {display: none;}
    
    /* this displays the menus as drop downs  */
 	ul li:hover ul { 
	left: auto;
	margin-left: 0;
	}

} // end nav









/*  ------------- MAIN -------------  */
main {
	margin: 0 auto;
 
	div.topcontent {
		display: flex;
		flex-direction: row;
		margin: 1rem 0;
	}


	div.firstbox figure.image {
		width: 50%px;
		height: 300px;
	
		img {
			width: 100%;
			height: 100%;
		}
	
	}




	div.topbox figure.image {
		
		display: flex;
		flex-direction: column;
		background-color: gray;
		width: 385px;
		height: 146px;

		img {
			width: 100%;
			height: 100%;
		}

    }




 // bottom content //
    
 div.bottombox {
	display: grid;
	grid-template-columns: 1fr 1fr; 
	 grid-column-gap: 2%;
	grid-row-gap: .1rem;
	text-align: center;
	margin: 0 .5rem;
	
	

}


div.bottombox figure.image {
	margin: .6rem 0;
	width: 100%;
	height: 300px;
	margin-bottom: 3rem;


	figcaption {
		margin-top: .6rem;
		padding-left: .3rem;
		padding-bottom: .3rem;
		font-size: .9rem;

	}

	img {
		width: 100%;
		height: 100%;
	}

}











    
    
    
} // end main


footer {

	div.footwrap {
        display: grid;
        grid-template-columns: 1fr 1fr; 
         grid-column-gap: 2%;
		grid-row-gap: .1rem;
		text-align: center;
		margin: 0 4rem;
		padding-top: 1rem;
	} // end of footwrap

	div.footwrap a {
		font-size: 1.2rem;
	}


} // end of footer