/*-----HEADER SOCIAL ICONS-----*/
header {
	position: relative;
    ul.social {
        position: absolute;
        top: 1rem;
        right: $gutter;
    }
    
    ul.social li {
        width: auto;
    }
    
    ul.social li a {
        
    }


figure.logo {
    width: 40%;
    position: absolute;
    bottom: 0;
}


form {
    float: right;
    margin-top: 4rem;
    input {
        width: 100%;
    }
    input:focus {
        width: 100%;
    }
}



} // end header

/*  ------------- MAIN -------------  */
main {

    
    
    
} // end main


