/*-----HEADER SOCIAL ICONS-----*/
header {
	position: relative;
    ul.social {
        position: absolute;
        bottom: .5rem;
        right: $gutter;
    }
    
    ul.social li {
        width: auto;
    }
    
    ul.social li a {
        
    }

} // end header

/*  ------------- MAIN -------------  */
main {

    
    
    
} // end main


