$primaryColor: #300b0a;
$secondaryColor:#9a1919;
$fontColor: #97999a;
$menuColor: $primaryColor;

$defaultFont: 'Lato', sans-serif;
$normalWeight: 300;
$boldWeight: 700;

$gutter: 2%;
$gutterdbl: (2 * $gutter);


$font:'Tenali Ramakrishna', sans-serif;
